.cartContainer {
    width: 450px;
    background-color: #3b3636;
    height: 100%;
    position: fixed;
    padding: 0 20px;
    top: 0;
    right: -500px; 
    color: white;
    z-index: 10;
    transition: right 0.5s ease; 
    overflow-y: auto;

  }

.cartContainer.open {
    right: 0; 
}

.titleCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.btnClose {
    display: flex;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}

.productsCart{
    margin: 2rem 0;
}
