.ProductListContainer {
    display: flex; 
}
@media (max-width: 479px) {
    .productContainerBlock{
        display: flex;
        flex-direction: row;
        justify-content: center ;
        gap: 12px;
        flex-wrap: wrap;
    }
    .productContainerList{
        width: 100%;
        min-width: 305px;
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
}
@media (max-width: 767px) and (min-width: 480px){
    .productContainerBlock{
        flex-direction: row;
        justify-content: center ;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
    .productContainerList{
        width: 100%;
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2.5rem;
    }
} 
@media (max-width: 991px)  and (min-width: 768px){
    .productContainerBlock{
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
    .productContainerList{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .productContainerBlock{
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
    .productContainerList{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
}
@media (min-width: 1200px) {
    .productContainerBlock{
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }

    .productContainerList{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 2.5rem ;
    
    }
}


